// Custom styles.
body {

    background:url(https://blog-resource-1259125863.cos.ap-beijing.myqcloud.com/global-image/bg.png);

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size:100% 100%;

}
// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.875;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 0.875;
}