// Custom styles.
body {

    background:url(https://blog-resource-1259125863.cos.ap-beijing.myqcloud.com/global-image/bg.png);

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size:100% 100%;

}
// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 9;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 9;
}

::-webkit-scrollbar{
		background-color: #97c0F6;
		width:5px;
		height:5px;
		border-radius: 2px;
	}
::-webkit-scrollbar-thumb{
		background-color: #FFF88D;
	}
::-webkit-scrollbar-corner{
		border-radius: 50%;
		background-color: #FF751B;
	}